@import "footer";
@font-face {
    font-family: "Soccer Title";
    src: url(../fonts/Soccer.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

img{
    max-width: 100%;}

    body{
        font-family: 'Lato', sans-serif;
         .GridFormat{
            display: flex;
            flex-direction: column
            ;
            
            header{
                background-size: cover;
                font-size: large;
                font-weight: 600;
                background-color: blue;
                background-position: center;
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0 auto;
                align-items: center;
                grid-area: header;
                width: 100%;
                .titulo {color: white;
                    font-family: "Soccer Title";
                    font-size: 30px}
                
                li {align-items: flex-end;
                    display: inline-block;
                a{text-decoration: none;
                    list-style: none;
                    color: wheat;
                    padding: 20px;
                    display: block;
                    float: left;
                    width: 20%;
                    padding: 7px;}}
                .logo{width: 50px;}
                a:hover{
                    background-color: orangered;}}
            
                
            }

   
    }
    #section1 .section1{
        grid-area: section1;
        img{
            width: 300px;
            height: 200px
            ;
        }

    }
            
         
    